<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一保七网盘</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- The styles -->

    <link href="css/charisma-app.css" rel="stylesheet">








    <![endif]-->
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 40px;
            color: #5a5a5a;
        }
        .sidebar-nav{
            margin-top: 70px;
        }


        .sidebar-nav div li a{
            height: 60px;
        }
        .sidebar-nav div li a i{
            font-size: 25px;

        }
        .sidebar-nav div li a span{
            font-size: 25px;
        }
        #groupTable thead tr th{
            text-align: center;
            vertical-align: middle;

        }
        #groupTable tbody tr td{
            text-align: center;
            vertical-align: middle;
        }
        #groupTable tbody tr td img{
            margin-left: 45%;
            height: 50px;
        }


        /*好友列表*/

        #memberTable thead tr th{
            text-align: center;
            vertical-align: middle;

        }
        #memberTable tbody tr td{
            text-align: center;
            vertical-align: middle;
        }
        #memberTable tbody tr td img{
            margin-left: 45%;
            height: 50px;
        }

    </style>

</head>

<body >
<!--下面是顶部导航栏的代码-->
<nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">一保七网盘</a>
        </div>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </div>
        <!-- user dropdown ends -->

        <!-- theme selector starts -->
        <div class="btn-group pull-right theme-container animated tada">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-tint"></i><span
                    class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="themes">
                <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
            </ul>
        </div>
        <!-- theme selector ends -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">功能<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">功能1</li>
                        <li><a href="#">功能2</a></li>
                        <li><a href="#">功能3</a></li>
                        <li><a href="#">功能4</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">系统功能</li>
                        <li><a href="#">设置</a></li>
                    </ul>
                </li>
                <li><a href="#">帮助</a></li>
            </ul>

        </div>
    </div>
</nav>

<!—自适应布局-->
<div class="container-fluid">
    <div class="row">
        <!—左侧导航栏-->
        <div class="col-sm-2 collg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link " href="index.html"><i class="glyphicon glyphicon-home"></i><span> 首页</span></a>
                        </li>
                        <li><a class="ajax-link" href="upload.html"><i class="glyphicon glyphicon-upload"></i><span> 上传</span></a>
                        </li>
                        <li><a class="ajax-link" href="share.html"><i class="glyphicon glyphicon-share"></i><span> 分享</span></a></li>
                        <li><a class="ajax-link" href="recycle.html"><i class="glyphicon glyphicon-trash"></i><span> 回收站</span></a>
                        </li>

                        <li class="nav-header hidden-md">联系人/组</li>

                        <li><a class="ajax-link" href="friends.html"><i class="glyphicon glyphicon-user"></i><span> 好友</span></a>
                        </li>
                        <li class="active"><a  href="groups.html"><i class="glyphicon glyphicon-flag"></i><span> 群组</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <!—右侧管理控制台-->
        <div class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">好友</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner" id="boxContent">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-star-empty"></i> 好友</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-setting btn-round btn-default"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                            <div class="pull-right" style="margin-top: -0.45%">
                                <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#myModal" >
                                    <i class="glyphicon glyphicon-plus icon-white"></i>
                                    加入群组
                                </button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="margin-top: 15%">
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">添加群组</h4>
                                            </div>
                                            <div class="modal-body" >
                                                <label style="margin-left:4.5%">请输入组名进行查找：</label>
                                                <form class="form-inline" style="text-align: center">
                                                    <input type="text" class="form-control" style="width: 80%">
                                                    <button type="button" class="btn btn-primary" id="search">查找</button>
                                                </form>
                                            </div>
                                            <div style="display: none;width: 100%" id="searchResult">
                                                <label style="margin-left: 7%">搜索结果：</label>
                                                <div style="margin-left: 7%">
                                                    <img src="images/tou.jpg" style="height: 50px;">
                                                    <span>群组号：xxx</span>
                                                </div>
                                                <button type="button" class="btn btn-primary"style="margin-left: 45%">加为好友</button>
                                            </div>
                                            <div class="modal-footer">

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#myModal2" >
                                    <i class="glyphicon glyphicon-pencil icon-white"></i>
                                    创建群组
                                </button>
                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="margin-top: 15%">
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel2">创建群组</h4>
                                            </div>
                                            <div class="modal-body" >
                                               <form id="creatGroup" class="form-horizontal">
                                                   <div class="form-group">
                                                   <label>请输入组名：</label>
                                                   <input type="text" class="form-control" name="groupName" placeholder="请输入组名">
                                                   </div>
                                                   <button type="button" class="btn btn-primary" >创建</button>
                                               </form>
                                            </div>

                                            <div class="modal-footer">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#myModal6">
                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                    退出群组
                                </button>
                                <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="margin-top: 15%">
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel6">是否退出该群组？</h4>
                                            </div>
                                            <div class="row">
                                                <button class="col-md-2 col-md-offset-3 btn btn-success" data-dismiss="modal" type="button">是</button>
                                                <button class="col-md-2 col-md-offset-2 btn btn-danger" data-dismiss="modal" type="button">否</button>
                                            </div>
                                            <div class="modal-footer">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-content" >
                            <!-- put your content here -->
                            <table class="table table-striped table-hover bootstrap-datatable datatable responsive" id="groupTable">
                                <thead>
                                <tr>
                                    <th><div class="checkbox"><label><input type="checkbox"  id="selectAll" onclick="selectAllOrNot()"></label></div></th>
                                    <th>头像</th>
                                    <th>组名</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr tabindex="1">
                                    <td><div class="checkbox"><label><input type="checkbox" name="select" id="1"></label></div></td>
                                    <td><img src="images/tou.jpg" class="img-responsive img-rounded"></td>
                                    <td><a name="groupFile" onclick="showGroupFile()">历程器</a></td>


                                </tr>

                                <tr tabindex="2">
                                    <td><div class="checkbox"><label><input type="checkbox" name="select" id="2"></label></div></td>
                                    <td><img src="images/toutou.jpg" class="img-responsive img-rounded"></td>
                                    <td>张三</td>


                                </tr>
                                <tr tabindex="3">
                                    <td><div class="checkbox"><label><input type="checkbox" name="select" id="3"></label></div></td>
                                    <td><img src="images/toutou.jpg" class="img-responsive img-rounded"></td>
                                    <td>Jhon Doe</td>


                                </tr>
                                <tr tabindex="4">
                                    <td><div class="checkbox"><label><input type="checkbox" name="select" id="4"></label></div></td>
                                    <td><img src="images/toutou.jpg" class="img-responsive img-rounded"></td>
                                    <td>李四</td>


                                </tr>
                                <tr tabindex="5">
                                    <td><div class="checkbox"><label><input type="checkbox" name="select" id="5"></label></div></td>
                                    <td><img src="images/toutou.jpg" class="img-responsive img-rounded"></td>
                                    <td>王二麻子</td>


                                </tr>
                                <tr tabindex="6">
                                    <td><div class="checkbox"><label><input type="checkbox" name="select" id="6"></label></div></td>
                                    <td><img src="images/toutou.jpg"class="img-responsive img-rounded" ></td>
                                    <td>王二小</td>


                                </tr>
                                <tr tabindex="7">
                                    <td><div class="checkbox"><label><input type="checkbox" name="select" id="7"></label></div></td>
                                    <td><img src="images/toutou.jpg" class="img-responsive img-rounded"></td>
                                    <td>小婊砸</td>


                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <!--群组文件显示框-->
                    <div class="box-inner" id="boxForGroupFile" style="display: none">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-star-empty"></i> 群文件</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-setting btn-round btn-default"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                            <div class="pull-right" style="margin-top: -0.45%">
                                <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#myModal3" >
                                    <i class="glyphicon glyphicon-plus icon-white"></i>
                                    添加成员
                                </button>
                                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="margin-top: 15%">
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel1">添加成员</h4>
                                            </div>
                                            <div class="modal-body" >
                                                <label style="margin-left:4.5%">请输入用户名进行查找：</label>
                                                <form class="form-inline" style="text-align: center">
                                                    <input type="text" class="form-control" style="width: 80%">
                                                    <button type="button" class="btn btn-primary" id="search2">查找</button>
                                                </form>
                                            </div>
                                            <div style="display: none;width: 100%" id="searchResult2">
                                                <label style="margin-left: 7%">搜索结果：</label>
                                                <div style="margin-left: 7%">
                                                    <img src="images/tou.jpg" style="height: 50px;">
                                                    <span>群组号：xxx</span>
                                                </div>
                                                <button type="button" class="btn btn-primary"style="margin-left: 45%">加入群组</button>
                                            </div>
                                            <div class="modal-footer">

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#myModal4" >
                                    <i class="glyphicon glyphicon-pencil icon-white"></i>
                                    查看群成员
                                </button>
                                <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="margin-top: 5%">
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel5">群成员</h4>
                                            </div>
                                            <div class="modal-body" >
                                                <table class="table table-striped table-hover bootstrap-datatable datatable responsive" id="memberTable">
                                                    <thead>
                                                    <tr>
                                                        <th><div class="checkbox"><label><input type="checkbox" id="selectAll1" onclick="selectAllOrNot1()"></label></div></th>
                                                        <th>头像</th>
                                                        <th>用户名</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    <tr tabindex="11" >
                                                        <td><div class="checkbox"><label><input type="checkbox" name="select1" id="11"></label></div></td>
                                                        <td><img src="images/tou.jpg" class="img-responsive img-rounded"></td>
                                                        <td>历程器</td>


                                                    </tr>

                                                    <tr tabindex="12">
                                                        <td><div class="checkbox"><label><input type="checkbox" name="select1" id="12"></label></div></td>
                                                        <td><img src="images/toutou.jpg" class="img-responsive img-rounded"></td>
                                                        <td>张三</td>


                                                    </tr>
                                                    <tr tabindex="13">
                                                        <td><div class="checkbox"><label><input type="checkbox" name="select1" id="13"></label></div></td>
                                                        <td><img src="images/toutou.jpg" class="img-responsive img-rounded"></td>
                                                        <td>Jhon Doe</td>


                                                    </tr>
                                                    <tr tabindex="14">
                                                        <td><div class="checkbox"><label><input type="checkbox" name="select1" id="14"></label></div></td>
                                                        <td><img src="images/toutou.jpg" class="img-responsive img-rounded"></td>
                                                        <td>李四</td>


                                                    </tr>
                                                    <tr tabindex="15">
                                                        <td><div class="checkbox"><label><input type="checkbox" name="select1" id="15"></label></div></td>
                                                        <td><img src="images/toutou.jpg" class="img-responsive img-rounded"></td>
                                                        <td>王二麻子</td>


                                                    </tr>
                                                    <tr tabindex="16">
                                                        <td><div class="checkbox"><label><input type="checkbox" name="select1" id="16"></label></div></td>
                                                        <td><img src="images/toutou.jpg"class="img-responsive img-rounded" ></td>
                                                        <td>王二小</td>


                                                    </tr>
                                                    <tr tabindex="17">
                                                        <td><div class="checkbox"><label><input type="checkbox" name="select1" id="17"></label></div></td>
                                                        <td><img src="images/toutou.jpg" class="img-responsive img-rounded"></td>
                                                        <td>小婊砸</td>


                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="modal-footer">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#myModal5">
                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                    删除文件
                                </button>
                                <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="margin-top: 15%">
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel4">是否删除该文件？</h4>
                                            </div>
                                            <div class="row">
                                                <button class="col-md-2 col-md-offset-3 btn btn-success" data-dismiss="modal" type="button">是</button>
                                                <button class="col-md-2 col-md-offset-2 btn btn-danger" data-dismiss="modal" type="button">否</button>
                                            </div>
                                            <div class="modal-footer">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!--框内容-->
                        <div class="box-content">
                            <table class="table table-striped table-hover table-condensed bootstrap-datatable datatable responsive" id="fileTable">
                                <thead>
                                <tr>
                                    <th><div class="checkbox"><label><input type="checkbox" id="selectAll2" onclick="selectAllOrNot2()"></label></div></th>
                                    <th>文件名</th>
                                    <th>大小</th>
                                    <th>修改日期</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr tabindex="21">
                                    <td><div class="checkbox"><label><input type="checkbox" id="21" name="select2"></label></div></td>
                                    <td><i class="glyphicon glyphicon-file"></i><span class="hidden-sm hidden-xs"> java从入门到精通</span></td>
                                    <td >30Mb</td>
                                    <td>2017/08/23</td>


                                </tr>

                                <tr tabindex="22">
                                    <td><div class="checkbox"><label><input type="checkbox" id="22" name="select2"></label></div></td>
                                    <td><i class="glyphicon glyphicon-file"></i>
                                        <span class="hidden-sm hidden-xs">Andro Christopher</span></td>
                                    <td class="center">1kb</td>
                                    <td class="center">2015/08/23</td>



                                </tr>
                                <tr tabindex="23">
                                    <td><div class="checkbox"><label><input type="checkbox" id="23" name="select2"></label></div></td>
                                    <td><i class="glyphicon glyphicon-file"></i>
                                        <span class="hidden-sm hidden-xs">Jhon Doe</span></td>
                                    <td class="center">5kb</td>
                                    <td class="center">2015/06/01</td>


                                </tr>
                                <tr tabindex="24">
                                    <td><div class="checkbox"><label><input type="checkbox" id="24" name="select2"></label></div></td>
                                    <td><i class="glyphicon glyphicon-file"></i>
                                        <span class="hidden-sm hidden-xs">如何和傻逼相处</span></td>
                                    <td class="center">10Mb</td>
                                    <td class="center">2015/06/01</td>


                                </tr>
                                <tr tabindex="25">
                                    <td><div class="checkbox"><label><input type="checkbox" id="25" name="select2"></label></div></td>
                                    <td><i class="glyphicon glyphicon-file"></i>
                                        <span class="hidden-sm hidden-xs">哈哈哈</span></td>
                                    <td class="center">11Mb</td>
                                    <td class="center">2015/06/01</td>


                                </tr>
                                <tr tabindex="26">
                                    <td><div class="checkbox"><label><input type="checkbox" id="26" name="select2"></label></div></td>
                                    <td><i class="glyphicon glyphicon-file"></i>
                                        <span class="hidden-sm hidden-xs">嘻嘻嘻</span></td>
                                    <td class="center">20Mb</td>
                                    <td class="center">2015/06/01</td>


                                </tr>
                                <tr tabindex="27">
                                    <td><div class="checkbox"><label><input type="checkbox" id="27" name="select2"></label></div></td>
                                    <td><i class="glyphicon glyphicon-file"></i>
                                        <span class="hidden-sm hidden-xs">傻逼是怎样炼成的</span></td>
                                    <td class="center">30Mb</td>
                                    <td class="center">2016/03/01</td>


                                </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--/row-->




        </div>
    </div>
</div>


<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script>
    $('#search').click(function(){
        document.getElementById('searchResult').style.display="table";
    });
</script>
<script>
    function selectAllOrNot(){
        items=document.getElementsByName("select");
        itemAll=document.getElementById("selectAll");
        len=items.length;
        for(var i=0;i<len;i++){
            items[i].checked=itemAll.checked;

        }
    }
    function selectAllOrNot1(){
        items=document.getElementsByName("select1");
        itemAll=document.getElementById("selectAll1");
        len=items.length;
        for(var i=0;i<len;i++){
            items[i].checked=itemAll.checked;

        }
    }
    function selectAllOrNot2(){
        items=document.getElementsByName("select2");
        itemAll=document.getElementById("selectAll2");
        len=items.length;
        for(var i=0;i<len;i++){
            items[i].checked=itemAll.checked;

        }
    }
</script>

<script>
    $('#groupTable tbody tr').click(function(){
        var indexNum = this.tabIndex;
        document.getElementById(indexNum).click();
    })
    $('#memberTable tbody tr').click(function(){
        var indexNum = this.tabIndex;
        document.getElementById(indexNum).click();
    })
    $('#fileTable tbody tr').click(function(){
        var indexNum = this.tabIndex;
        document.getElementById(indexNum).click();
    })


</script>
<script>
    function showGroupFile(){
        document.getElementById("boxContent").style.display="none";
        document.getElementById("boxForGroupFile").style.display="block";
    }
</script>







</body>
</html>



